@model Mvc1VaccinDemo.ViewModels.ArticleViewModel

@{
    ViewData["Title"] = Model.Title;
}


<section class="py-5">

    <div class="row">
        <div class="col-lg-12 mb-5">
            <div class="card">
                <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">@Model.Title</h3>
                </div>
                <div class="card-body">
                    @Model.Text
                    
                    <br/>
                    <hr/>
                    <div>
                        <a href="@Model.LinkUrl" class="btn btn-secondary" role="button" aria-pressed="true">
                            Read more
                        </a>

                    </div>

                </div>

            </div>
        </div>




    </div>
</section>
