@model Mvc1VaccinDemo.ViewModels.SelectPersonViewModel


@{
    Layout = null;    
}


<div class="row">
    <div class="col-lg-12">
        <div class="card mb-5 mb-lg-0">
            <div class="card-header">
                <h2 class="h6 mb-0 text-uppercase">VALD PERSON: @Model.Name, @Model.PersonalNumber</h2>
            </div>
            <div class="card-body">
                <p class="text-gray mb-5">Uppgifter är preliminära</p>
                <div class="d-flex justify-content-between align-items-start align-items-sm-center mb-4 flex-column flex-sm-row">
                    <div class="left d-flex align-items-center">
                        <div class="icon icon-lg shadow mr-3 text-gray"><i class="fab fa-dropbox"></i></div>
                        <div class="text">
                            <h6 class="mb-0 d-flex align-items-center"> <span>Nästa planerade vaccinationstillfälle</span><span class="dot dot-sm ml-2 bg-violet"></span></h6><small class="text-gray">beroende på leveranser</small>
                        </div>
                    </div>
                    <div class="right ml-5 ml-sm-0 pl-3 pl-sm-0 text-violet">
                        <h5>@Model.NextVaccinDate</h5>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-start align-items-sm-center mb-4 flex-column flex-sm-row">
                    <div class="left d-flex align-items-center">
                        <div class="icon icon-lg shadow mr-3 text-gray"><i class="fab fa-apple"></i></div>
                        <div class="text">
                            <h6 class="mb-0 d-flex align-items-center"> <span>Vaccineringsfas</span><span class="dot dot-sm ml-2 bg-green"></span></h6><small class="text-gray">Aktuell uppgift</small>
                        </div>
                    </div>
                    <div class="right ml-5 ml-sm-0 pl-3 pl-sm-0 text-green">
                        <h5>@Model.VaccineringsFas</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
